@font-face {
    font-family: "letrahipster";
    src: url(../fonts/letrahipster.ttf) format("truetype");
}



body{
  font-family: Calibri;
  background-color: lightgrey;
  background:#f4f4f4 url(../img/bg.gif) repeat top left;
  /*padding-left: 10px;
  padding-right: 10px;*/
}

h1{
  color: #4B87C0;
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;/*
  font-weight: 500;
  line-height: 26.4px;*/
}
h2{
  color: #4B87C0;
  font-family: letrahipster;
  font-size: 60px;
}
h3{
  color: #5FABF3;
  font-family: Calibri;
  font-style: normal;
}


hr {border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px #5FABF3;}

.hr {border: 0; height: 6px; box-shadow: inset 0 6px 6px -6px #5FABF3;}

a { 
  color: #5FABF3;
  
}
a.visited {
  color: #506273;
}
a:hover{
  color: #4B87C0;
 }

 .caja{
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-height: 500px;
}

.caja1{
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  
  max-height: 500px;
}

#cabeza{
  background-color: grey;
  width: 100%;
}

iframe {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

#lista{
  overflow-y: scroll;
  max-height: 300PX;
}